{{define "content"}}
<div>
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{.Name}}</h5>
                  <p class="card-text">{{if eq .Typos 0}}
                        Στρατιώτης
                        {{end}}
                        {{if eq .Typos 1}}
                        Μεταφραστής
                        {{end}}
                        {{if eq .Typos 2}}
                        Ακροατής
                        {{end}}</p>
                        <form action="/deleteproswpiko" method="POST">
                            <input type="hidden" name="id" value="{{.Id}}">
                            <input class="btn btn-danger" type="submit" value="Διαγραφή">
                        </form>
                </div>
              </div><br>
    <h3>Προσθήκη άδειας</h3>
    <form action="createadeia" method="POST">
        <label>Περιγραφή </label><input name="aitia" type="text"></input>
        <label>Αρχή </label><input name="arxi" type="date"></input>
        <label>Τέλος </label><input name="telos" type="date"></input>
        <input type="hidden" name="atomo" value="{{.Id}}"></input>
        <input class="btn btn-primary" type="submit" value="Καταχώρηση"></input>
    </form>
</div><br>
<div>
    <h3>Λίστα αδειών</h3>
    {{$idatomou := .Id}}
    {{range .Adeies}}
    <p>{{.Arxi}} έως {{.Telos}}: {{.Aitia}}</p>
    <form action="/deleteadeia" method="POST">
        <input type="hidden" name="id" value="{{.Id}}">
        <input type="hidden" name="idatomou" value="{{$idatomou}}">
        <input class="btn btn-danger" type="submit" value="Διαγραφή"></input>
    </form>
    {{end}}
</div>
{{end}}