{{define "base"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ιπποκράτης</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="/">Αρχική</a>
            <a href="/ypiresies">Υπηρεσίες</a>
            <a href="/proswpiko">Προσωπικό</a>
            <a href="/programma">Πρόγραμμα</a>
        </nav>
    </div>
    {{template "content" .}}
    <footer class="text-center">
        <p>Βαλκανιώτης Τηλέμαχος, <i>valkaniotist@gmail.com</i></p>
    </footer>
</body>
</html>

{{end}}