{{define "content"}}
<h3>
    Δημιουργία νέου ατόμου
</h3><br>
<div class="container-fluid">
<form class="form" action="/createproswpiko" method="POST" id="formaproswpikou">
    <div class="row form-group">
        <label class="control-label col-form-label">Όνομα</label>
        <div class="col-sm-6"><input type="text" name="onoma" required></input></div>
    </div>
    <div class="row form-group">
        <label class="control-label col-form-label">Τύπος προσωπικού</label>                    
        <div class="col-sm-6"><select required name="typos">
            <option value=0>Στρατιώτης</option>
            <option value=1>Μεταφραστής</option>
            <option value=2>Ακροατής</option>
        </select></div>
    </div>
    <input class="btn btn-primary" type="submit" id="btn-form" value="Δημιουργία"></input>
    </form>
</div>
<br>
<div class="container">
    <div class="row">
        {{if .Metafrastes}}
        <div class="col">
            <h2>Μεταφραστές</h2>
        {{range .Metafrastes}}
        <p><a href="retrieveproswpiko?id={{.Id}}">{{.Name}}</a></p>
        {{end}}
        </div>
        {{end}}
        {{if .Akroates}}
        <div class="col">
            <h2>Ακροατές</h2>
            {{range .Akroates}}
            <p><a href="retrieveproswpiko?id={{.Id}}">{{.Name}}</a></p>
            {{end}}
        </div>
        {{end}}
        {{if .Stratiwtes}}
        <div class="col">
                <h2>Στρατιώτες</h2>
            {{range .Stratiwtes}}
            <p><a href="retrieveproswpiko?id={{.Id}}">{{.Name}}</a></p>
            {{end}}
        </div>{{end}}
    </div>
</div>
{{end}}
